<!DOCTYPE html>

<!-- ASSIGN ANGULAR MODEL -->
<html ng-app="childCare">

<head>

  <title><%= title %> | Childcare</title>

  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/lib/fullcalendar/dist/fullcalendar/fullcalendar.css">
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/lib/moment/min/moment.min.js"></script>
  <script src="/lib/fullcalendar/dist/fullcalendar.min.js"></script>

  <style>
    html              { overflow-y: scroll; }
    body              { padding-top: 50px; }
    #children-list    { margin-bottom: 30px; }
  </style>

</head>
<body>
  <div class="container">

    <!-- HEADER -->
    <div class="jumbotron text-center">
      <h1>Jazzercise Child Care Sign In</h1>
    </div>

    <!-- LIST OF CHILDREN -->
    <div id="children-list" class="row">
      <div class="col-sm-4 col-sm-offset-4">
      </div>
    </div>

    <!-- FORM -->
    <div id="information-form" class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">

        <div>
            <h3>Today's Date</h3>
            <input id="input-date" class="form-control input-lg text-center" type="date" value="09-16-2015">
            <span class="result"></span>
        </div>

        <div>
            <h3>Class Time</h3>
            <input id="input-time" class="form-control input-lg text-center" type="time" value="09:00">
            <span class="result"></span>
        </div>

        <form>
          <div class="form-group">
            <input type="text" class="form-control input-lg text-center" placeholder="Child's Name" ng-model="xxx">
            <input type="text" class="form-control input-lg text-center" placeholder="Child's Name" ng-model="xxx">
            <input type="text" class="form-control input-lg text-center" placeholder="Parent's Name" ng-model="xxx">
          </div>

          <!-- createSignIn() WILL CREATE NEW SIGN-INS -->
          <button type="submit" class="btn btn-primary btn-lg" ng-click="createSignIn()">Add</button>
        </form>

      </div>
    </div>

  </div>

  <script src="/js/angular.min.js"></script>

</body>
</html>
