<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | Childcare</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
  <h1> Jazzercise Childcare Sign-In </h1>

  <script src="/js/angular.min.js"></script>
</body>
</html>
