
<div class="jumbotron text-center">
    <h1>Jazzercise Calendar</h1>

    <p> {{ tagline }} </p>

    <a href="#/" class="btn btn-success btn-lg" role="button">Go To Sign In</a>

</div>

<div id="calendar"></div>

<div id="calendarModal" class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <div>
            <h2> Children Checked In Today</h2>
            <h4>{{ dateToday }}</h4>
          </div>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
            <h4 id="modalTitle" class="modal-title"></h4>
        </div>
        <div id="modalBody" class="modal-body">
          <div ng-repeat="event in today">
            <h4 class="modal_child"> {{ event.child }} </h4>
            <p class="modal_schedule">Time: {{event.time}} || Babysitter: {{event.babysitter}}</p>
            <hr>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>


