<div class="container">

  <!-- HEADER -->
  <div class="jumbotron text-center">
    <h1>Jazzercise Child Care Sign In</h1>
  </div>

  <!-- LIST OF CHILDREN -->
  <div id="children-list" class="row">
    <div class="col-sm-4 col-sm-offset-4">
    </div>
  </div>

  <!-- FORM -->
  <div id="information-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">

      <div>
          <h3>Today's Date</h3>
          <input id="date" class="form-control input-lg text-center" type="date" value='{{ schedule.date }}' ng-model="schedule.date">
          <span class="result"></span>
      </div>

      <hr>

      <div>
          <h3>Class Time</h3>
          <input id="time" class="form-control input-lg text-center" type="time" value='{{ schedule.time }}' ng-model="schedule.time">
          <span class="result"></span>
      </div>

      <hr>

      <form>
        <div class="form-group">
          <input type="text" class="form-control input-lg text-center" name="child1" placeholder="Child's Name" ng-model="child1">
          <hr>
          <input type="text" class="form-control input-lg text-center" name="child2" placeholder="Child's Name" ng-model="child2">
          <hr>
          <input type="text" class="form-control input-lg text-center" name="parent" placeholder="Parent's Name" ng-model="parent">
        </div>

        <!-- createSignIn() WILL CREATE NEW SIGN-INS -->
        <button type="submit" class="btn btn-primary btn-lg" ng-click="childCare()">Add</button>
      </form>

    </div>
  </div>

</div>
